
article + article {
    margin-top: 4em;
}

article .quiz {
    margin-top: 1em;
}
.quiz-form {
    padding: 0.5em;
    transition: border-left 0.3s ease-out;
}

.quiz-form .tip {
    font-size: 14px;
    margin: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 
        opacity 0.3s ease-out, 
        margin 0.3s ease-out;
}
.quiz-form.incorrect .tip,
.quiz-form.correct .tip {
    height: auto;
    display: block;
    margin: 1em auto;
    opacity: 1;
}
.quiz-form.correct {
    border-left: 5px green solid;
}
.quiz-form.incorrect {
    border-left: 5px red solid;
}

.quiz-form .option label {
    display: block;
    margin: 0.5em auto;
}
.quiz-form .option label p {
    display: inline-block;
    margin: 0 0 0.5em 1em;
}

.quiz-form .option 
.quiz-form .option button {
    margin-top: 1em;
}
